html {
  min-height: 100%;
  position: relative;
}
  body {
    margin-bottom: 50px;
  }

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: #f5f5f5;
  }

  .footer-block {
    margin: 20px 0;
  }

  @media screen and (min-width: 640px)
  {
    html {
    min-height: 100%;
    position: relative;
  }
    body {
      margin-bottom: 10px;
    }
  
    #footer {
      bottom: 0;
      width: 100%;
      position: absolute;
      height: 10px;
      background-color: #f5f5f5;
    }
  
    .footer-block {
      margin: 5px 0;
    }


    

  }

  @media screen and (min-width: 768px)
  {
    html {
    min-height: 100%;
    position: relative;
  }
    body {
      margin-bottom: 25px;
    }
  
    #footer {
      bottom: 0;
      width: 100%;
      position: absolute;
      height: 25px;
      background-color: #f5f5f5;
    }
  
    .footer-block {
      margin: 10px 0;
    }

    
  }

  @media screen and (min-width: 980px)
  {
    html {
    min-height: 100%;
    position: relative;
  }
    body {
      margin-bottom: 50px;
    }
  
    #footer {
      bottom: 0;
      width: 100%;
      position: absolute;
      height: 50px;
      background-color: #f5f5f5;
    }
  
    .footer-block {
      margin: 20px 0;
    }

    
  }